.home-heading{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-left: 80px;
    margin-top: 170px;
    font-size: 40px;    
}

@media (max-width:820px) {
    .home-heading{
        text-align: center;
        margin-left: 0px;
    }
}