.section{
    display: flex;
    gap: 20px;
    padding-left: 10px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
}

.section:hover{
    background-color: #8491dc;   /* #36393e */
}

.section i{
    font-size: 18px;
    color:white ;        /* #808080 */
}

.section p{
    font-size: 16px;
    margin: 0;
    color: white;        /* #808080 */ 
    font-family: 'Plus Jakarta Sans', sans-serif;        
}