.main_container {
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20% 14%;
  width: fit-content;
  padding: 30px;
  padding-bottom: 35px;
}

.stock_img {
  width: 300px;
  height: 175px;
  border-radius: 15px;
  margin-bottom: 14px;
}

.project_title {
  text-align: left;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  margin-bottom: 12px;
}

.project_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student_name {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  color: gray;
  margin: 0;
}

.rating_container {
  display: flex;
  align-items: center;
}

.rating_number {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
}
